
[Desktop Entry]
Type=Application
Exec=/usr/share/google-tasks-indicator/google-tasks-indicator.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=google-tasks-indicator-autostart
Name=Google-Tasks-Indicator
Comment[es_ES]=Google-Tasks-Indicator official shortcut
Comment=Google-Tasks-Indicator official shortcut
