[Desktop Entry]
Encoding = UTF-8
Name = Google-Taks-Indicator
Version = 0.0.4.0
Comment = An indicator for Google Tasks
GenericName = Google-Tasks-Indicator
Terminal = false
Icon = /usr/share/google-tasks-indicator/icons/google-tasks-indicator.svg
Type = Application
Exec = /usr/bin/google-tasks-indicator
Name[it] = Google-Taks-Indicator
Name[fr] = Google-Taks-Indicator
Name[es] = Google-Taks-Indicator
Name[tr] = Google-Taks-Indicator
Name[de] = Google-Taks-Indicator
Name[zh_CN] = Google-Taks-Indicator
Name[fi] = Google-Taks-Indicator
Name[ru] = Google-Taks-Indicator
Comment[it] = Un indicatore per Google Tasks
Comment[fr] = Un indicateur pour Google Tasks
Comment[es] = Un indicador para Google Tasks
Comment[tr] = Google Görevleri göstergesi
Comment[de] = Google-Aufgaben-Anzeiger
Comment[zh_CN] = Google 任务提示器
Comment[fi] = Google Tasks -ilmaisin
Comment[ru] = Индикатор задач Google
GenericName[it] = Google-Tasks-Indicator
GenericName[fr] = Google-Tasks-Indicator
GenericName[es] = Google-Tasks-Indicator
GenericName[tr] = Google-Tasks-Indicator
GenericName[de] = Google-Tasks-Indicator
GenericName[zh_CN] = Google-Tasks-Indicator
GenericName[fi] = Google-Tasks-Indicator
GenericName[ru] = Google-Tasks-Indicator
